In [1]:
import numpy as np
import pandas as pd

In [13]:
chunks = pd.read_json('../data/train.jsonl', lines=True, chunksize=100_000)

In [16]:
train = pd.DataFrame()

In [17]:
for i, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid':     [],
        'ts':      [],
        'type':    []
    }
    
    if i < 2:
        for session, events in zip(chunk['session'].tolist(), \
                                   chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        train = pd.concat([train, chunk_session])
    else:
        break

In [18]:
train = train.reset_index(drop=True)

In [19]:
display(train)

         session      aid             ts    type
0         200000   930304  1659336224083  clicks
1         200000   848307  1659336232085  clicks
2         200000   100867  1659336255976  clicks
3         200000   612920  1659336271290  clicks
4         200000   100867  1659336287757  clicks
...          ...      ...            ...     ...
8454381   399999   680003  1661371629957  clicks
8454382   399999  1810497  1661371643038  clicks
8454383   399999  1810497  1661703105912  clicks
8454384   399999  1073953  1661703159544  clicks
8454385   399999  1810497  1661703468824  clicks

[8454386 rows x 4 columns]

In [29]:
train.rename(index=str, columns={'session': 'customer_id',
                                  'aid' : 'product_code',
                                  'ts' : 'time_stamp',
                                  'type' : 'event_type'}, inplace=True)

In [30]:
display(train)

         customer_id  product_code     time_stamp event_type
0             200000        930304  1659336224083     clicks
1             200000        848307  1659336232085     clicks
2             200000        100867  1659336255976     clicks
3             200000        612920  1659336271290     clicks
4             200000        100867  1659336287757     clicks
...              ...           ...            ...        ...
8454381       399999        680003  1661371629957     clicks
8454382       399999       1810497  1661371643038     clicks
8454383       399999       1810497  1661703105912     clicks
8454384       399999       1073953  1661703159544     clicks
8454385       399999       1810497  1661703468824     clicks

[8454386 rows x 4 columns]